@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: #7474ff;
}

.nav-container a {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: #0afff0;
  font-weight: bold;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0 1em;
}

.right {
  border-radius: 10px;
}

.social-header {
  display: none;
}

.hero {
  background: #7474ff;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.imgCircle {
  border-radius: 50%;
  width: 150px;
  margin-top: 0.5em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  margin: 0 auto;
  font-weight: bold;
  color: #0afff0;
}

.meet p {
  margin-top: 10px;
  font-size: 20px;
}

.meet span {
  margin-top: 1em;
  margin-right: 0.5em;
  float: left;
}

.meet h3 {
  font-size: 25px;
  /* width: 400px; */
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.repoT,
.linkT,
button {
  color: white;
  font-size: 1em;
  background-color: #870dc0;
  width: 100px;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #e2e3ff;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #870dc0;
  letter-spacing: 0.2em;
  font-size: 1.3em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -0.4em;
  display: block;
}

.featured-desc {
  color: #696969;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}

.skills {
  background-color: #ffa7a7;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skills-container ul li .icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skills-container ul li #html,
.skills-container ul li #css,
.skills-container ul li #backend,
.skills-container ul li #uiux {
  font-size: 40px;
}

.skills-container ul li .skill-title {
  font-weight: bold;
}

.skills-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #e2e3ff;
}

.Featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: -0.4em;
  display: block;
}

.imgProject img {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.repo,
.link,
button {
  color: white;
  font-size: 1em;
  background-color: #870dc0;
  width: 50px;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 375px) {
  .nav-container {
    width: 400px;
  }
  .hero {
    width: 275px;
  }
  .featured {
    width: 300px;
  }
  .skills {
    width: 320px;
  }
  .portfolio {
    width: 320px;
  }
  .portfolio .imgProject img {
    width: 90%;
    margin-right: 20px;
  }
  
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% auto;
    grid-template-columns: 45% auto;
  }
  .left,
  .portfolio-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }
  .right {
    margin-left: 0.3em;
    margin-top: 1em;
    height: 300px;
    width: 550px;
  }
  .skills {
    margin-top: -4em;
  }
  .featured-desc {
    width: 400px;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto) [3];
    grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .skills-container ul .skill-title {
    padding: 10px;
  }
  .skills-container ul .portfolio-container img {
    margin-left: 2em;
  }
  .skills-container ul .featured-desc {
    width: 100%;
  }
  .imgProject img {
    width: 400px;
    margin-left: 2em;
  }
  
  .meet span {
    margin-top: 1em;
    margin-right: 0.5em;
    float: left;
  }
  
  /* .meet h3 {
    margin-top: 5rem;
    height: 10px;
    width: 500px;
    font-size: 26px;
  } */

  /* img.imgCircle {
    display: none;

  } */
  
}

@media only screen and (max-width: 1049px) {
  img.imgCircle {
    display: none;

  }

  .meet h3 {
    margin-bottom: 2 rem;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 110vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #7474ff;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 5em;
    float: right;
  }
  .social-header img {
    width: 55px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #7474ff;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
  }
  .imgCircle {
    display: unset;
    margin-left: 97%;
    width: 18em;
  }
  .right {
    width: 570px;
    height: 400px;
    margin-bottom: 20px;
  }
  .imgProject img {
    width: 600px;
    margin-left: 5%;
  }
}
/*# sourceMappingURL=main.css.map */
